{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content %}
    <div class="action-bar_logo">
      <a class="badge-logo" href="/">
        <img alt="" src={{ file_url(content.field_image.0['#item'].entity.uri.value) }}>
      </a>
      <div class="text-link">
        <a class="link-arrow" href= {{ content.field_cta_links[0]['#url'] }}>{{ content.field_cta_links[0]['#title'] }}</a>
      </div>
    </div>
    <div class="action-bar_buttons">
      <a class="button-more-info" href= {{ content.field_cta_links[1]['#url'] }}>{{ content.field_cta_links[1]['#title'] }}</a>
      <a class="button-apply" href= {{ content.field_cta_links[2]['#url'] }}>{{ content.field_cta_links[2]['#title'] }}</a>
    </div>
  {% endif %}
{% endblock %}
