{# {{ content.field_content_card_child }} #}
<div class="flex full-width-content flex_content-cards">
    <div class="container">
        <div class="main-content">
            {% if content.field_hero_headline %}
                <h2 id="our-bjc-values">{{ content.field_hero_headline }}</h2>
            {% endif %}

            <div class="content-cards">
				{% for items in content.field_content_card_child %}
				<div class="content-cards_item">
					<div class="image-with-content">
						{% if items.entity.field_icon_class.value %}
							<i class="gradient {{ items.entity.field_icon_class.value }}"></i>
						{% endif %}
						{% if items.entity.field_content.value or items.entity.field_title.value %}
							<div class="main-text">
								{% if items.entity.field_title.value %}
									<h3>{{ items.entity.field_title.value }}</h3>
								{% endif %}
								{% if items.entity.field_content.value %}
									{{ items.entity.field_content.value }}
								{% endif %}
							</div>
					{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
        </div>
    </div><!-- .container -->
</div><!-- .flex_content-cards -->