<div class="full-width-content program-slider">
    <div class="program-slider_content">
        {% if content.field_subheading  %}
			<span class="sub-heading">{{ content.field_subheading.0 }}</span>
		{% endif %}
		{% if content.field_headline  %}
			<h2>{{ content.field_headline.0 }}</h2>
		{% endif %}
		{% if content.field_body  %}
		<div class="copy">
            {{ content.field_body.0 }}
        </div>
		{% endif %}
        {% if content.field_link[1]['#title']  %}
        <a class="link-arrow" href="{{ content.field_link[1]['#url']|render }}" target=""><span>{{ content.field_link[1]['#title']|render }}</span></a>
        {% endif %}
    </div>
    <div class="slick-arrows">
    {{ drupal_view('programs', 'block_2') }}
        <div class="prev-arrow"><i class="fa-thin fa-chevron-left"></i></div>
        <div class="next-arrow"><i class="fa-thin fa-chevron-right"></i></div>
    </div>
</div>
