<div class="full-width-content content-image align-{{ content.field_image_alignment }}">
	<div class="content-image_content">
	{% if content.field_subheading  %}
			<span class="sub-heading">{{ content.field_subheading }}</span>
		{% endif %}
		{% if content.field_headline  %}
			<h2>{{ content.field_headline }}</h2>
		{% endif %}
		{% if content.field_body  %}
		<div class="copy">
			{{ content.field_body }}
		</div>
		{% endif %}
        {% if content.field_link  %}
            {{ content.field_link }}
	    {% endif %}	
	</div>
	<div class="content-image_media">
		 {% if content.field_image  %}
			<div class="img-wrap">
			<img src="{{ file_url(content.field_image['#items'].entity.uri.value | image_style('hero_headline_banner')) }}">
				  
			</div>
        {% endif %}	
	</div>
</div>