<div class="full-width-content program-slider">
    <div class="program-slider_content">
          {% if content.body.0  %}
			<span class="sub-heading"> {{ content.body.0 }}</span>
		{% endif %}
		  {% if content.field_headline.0  %}
			<h2>{{ content.field_headline.0 }}</h2>
		{% endif %}
		  {% if content.field_body.0  %}
		<div class="copy">
            {{ content.field_body.0 }}
        </div>
		{% endif %}
         {{ content.field_link.0 }}
    </div>
      {{ drupal_block('slideshowhomepageblock') }}
    </div>







